html
  head
    title= `${t('brand')} - ${t('annuaire.title')}`
  body
    p= t('annuaire.description')
    ul
      each cat in cats
        - var catUrl = `${url.base}/${cat}${url.postfix}`
        li: a(href=catUrl)= t(`filter.${cat}`)
