- var name = poi.name ? poi.name : t('categories.' + poi.cat)
- var poiUrl = `${poi.normalized_cat}/${poi.reg_libelle}/${poi.dep_libelle}/${poi.com_libelle}/${name},${poi.fid}`

a(href=poiUrl)
  div(class="card mb-2")
    div(class="card-body")
      h5(class="card-title")= name
      p(class="card-text")= t('state.' + poi.status)
